{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-signin" method="post" action="{% url 'forgotpassword' %}">
					{%  csrf_token %}
					<div style="color:blue;" align="center">
					{% if messages %}
						{% for msg in messages %}
							{{ msg }}
						{% endfor %}
					{% endif %}
            </div>
					<center>
				  <div class="form-label-group">
					<label for="username">Email</label>
					<input type="email" id="username" name="email" class="form-control" placeholder="email" required autofocus>
				  </div>
                         <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                    </center>
</form>
</body>
</html>