{% load static %}
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Register</title>
  </head>
  <body>
    <div class="container">
		<div class="row">
		  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
			  <div class="card-body">
				<h5 class="card-title text-center"><b>Sign Up</b></h5>
				<form class="form-signin" method="post">
					{%  csrf_token %}
					<br>
					<div style="color:blue;" align="center">
            {% if messages %}
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            {% endif %}
            </div>
				  <div class="form-label-group">
					<label for="username">Name</label>
					<input type="text" id="username" name="{{form.username.html_name}}" class="form-control" placeholder="Username" required autofocus>
                  </div>
					<div class="form-label-group">
					<label for="first_name">First Name</label>
					<input type="text" id="first_name" name="{{form.first_name.html_name}}" class="form-control" placeholder="First name" required autofocus>
                  </div>
					<div class="form-label-group">
					<label for="last_name">Last Name</label>
					<input type="text" id="lastname" name="{{form.last_name.html_name}}" class="form-control" placeholder="Last name" required autofocus>
                  </div>
                  <div class="form-label-group">
					<label for="email">Email </label>
					<input type="email" id="email" name="{{form.email.html_name}}" class="form-control" placeholder="Email Address" required autofocus>
                  </div>
				  <div class="form-label-group">
					<label for="inputPassword">Password</label>
					<input type="password" name="{{form.password1.html_name}}" id="inputPassword" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="form-label-group">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" id="confirmPassword" name="{{form.password2.html_name}}" class="form-control" placeholder="Confirm Password" required>
				  </div>
					<input type="hidden" name="{{form.is_active.html_name}}" id="status" class="form-control" placeholder="Password" required>

				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
				  <!-- <hr class="my-4"> -->
				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="cancel" onclick="location.href='{% url 'index' %}'">Login</button>

				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>